extends includes/MENU.pug

block contenu
    h1(class="border-bottom p-1 m-1" style="text-align: right;") Création de cours
    br
    form(action="/cours/ajouter/ajout/" method="post")
        div(class="form-group col-8 mx-auto border p-3")
            h2 Envoi
            label(for="nom") Nom *
            input(class="form-control" type="text" name="nom" autofocus required)
            br
            label(for="profs") Professeur
            select(class="form-control" name="profs" id="prof")
                option -----
                each prof in PROFS
                    option #{prof.id}: #{prof.prenom} #{prof.nom}
            br
            label(for="formation") Formation *
            select(class="form-control" name="formation" required)
                each forma in (typeof(FORMATION) === "object") ? [FORMATION] : FORMATION
                    option #{forma.id}: #{forma.nom}
            br
            label(for="semestre") Semestre *
            select(class="form-control" name="semestre" required)
                option 1
                option 2
                option 3
                option 4
            br
            label(for="type") Type *
            select(class="form-control" name="type" required)
                option Informatique
                option Générale
            br
            label(for="couleur") Couleur *
            br
            input(type='color' name="couleur" value="#43A047" required)
            br
            br 
            label(for="desc") Description (entre 10 et 500 caractères) *
            textarea(class="form-control" name="desc" minlength="10" maxlength="500" rows="12" cols="70")
            br 
            input(type="submit")
            br

    script.
        window.addEventListener("load", go);

        function go() {
            let but = document.getElementById("prof");
            but.addEventListener("change", (event) => {
                console.log("TODO : traiter l'ajout de plusieurs profs")
            })
        }