extends includes/MENU.pug

block contenu
    h1(class="border-bottom p-1 m-1" style="text-align: right;") Création de changelog
    br
    form(action="/changelog/ajouter/" method="post" encType="multipart/form-data")
        div(class="form-group col-8 mx-auto border p-3")
            label(for="version") Version *
            input(class="form-control" type="text" name="version" maxlength="50" autofocus required)
            br
            label(for="desc") Description (entre 10 et 500 caractères) *
            textarea(class="form-control" name="desc" minlength="10" required rows="12" cols="70")
            br
            input(type="submit")
            br
            if(erreurTaille !== undefined)
                p.text-danger= erreurTaille
                br