extends includes/MENU.pug

block contenu
    h1(class="border-bottom p-1 m-1" style="text-align: right;")  Charte d'utilisation
    .container.border.col-8
        .charte
            h3 0) Qu'est-ce que Charlinfo ?
            p Charlinfo (ou Charl'info) est un site internet où sont répertoriés cours, devoirs, exercices, sujets, ou tout autre aide aux cours.
            h4 0.1) Pourquoi Charlinfo ?
            p Charlinfo (Charlemagne - Info) est un jeu de mots originallement fait par Tristan BELMONT qui m'a donné l'idée de mettre ce nom de site.
            h4 0.2) Pourquoi "raccoon.ovh" ?
            p Parce que j'ai plusieurs projets et j'ai un autre site internet : il me fallait donc un nom de domaine qui soit "neutre". En l'occurrence, cela vient de mon pseudo "BlessedRaccoon".
            h4 0.3) Qui est (sont) les créateurs ?
            p Je suis tout seul à avoir créé et développé ce site : je suis Théo CHAPELLE, j'ai 19 ans. Cependant j'ai quand même reçu de l'aide concernant le déploiement (Merci Demurgos), et récemment eu l'aide de Matis CHASTIN pour le redesign de site.
            h4 0.4) Pourquoi avoir créé Charlinfo ?
            p Ca fait depuis la première que je voulais faire un site du genre : je voulais le faire pour l'oral de français du bac, avec les oeuvres à apprendre. Malheureusement, à cet époque, je n'y connaissais absolument rien en programmation et je n'avais absolument pas les compétences pour faire un site comme ça.
            h4 0.5) Est-ce que Charlinfo est légal ?
            p Dans le mesure où le site est privé, et que par conséquent les seuls pouvant y accéder sont les élèves concernés par les cours qui sont sur la plate-forme, je ne vois pas pourquoi le site serait illégal.
            h4 0.6) Est-ce que le site est sécurisé ?
            p Il faut savoir que j'ai mis l'accent sur la sécurité, que je trouve primordiale aujourd'hui. Par exemple, le site est sous "https" qui signifie que le transfert de données au serveur est crypté et donc qu'il est impossible pour un tiers de récupérer vos données. Egalement, il est impossible d'accéder au site lorsque l'on est pas connecté, et en plus les mots de passe sont cryptés pour le stockage. On peut donc faire confiance dans la mesure du possible à ce site.
            h4 0.7) Et c'est gratuit tout ça ??
            p L'accès au site est gratuit pour tout le monde. Mais le serveur me coute 4€ par mois, et ce coût risque d'augmenter si le trafic sur le serveur augmente : je ne suis donc pas contre si des gens veulent aider financièrement. Egalement, le site est en continuelle expansion, et je n'exclus pas la possibilité de créer des outils payants plus tard. Mais le coeur du site restera gratuit.
            h4 0.8) Comment nous contacter ?
            p Il y a un serveur Discord pour la promo, dont voici le 
                a(href="https://discord.gg/RXqAu2F") lien
                | .
            h4 0.9) D'où vient ce magnifique logo du site ?
            p Il a été créé par Tristan BELMONT, qui a gentiment accepté de le créer pour l'occasion !
            h4 0.10) J'ai perdu mon mot de passe, comment faire ?
            p En tant qu'administrateur du site, je peux bannir et débannir les gens. En banissant et débanissant, ça a le même effet qu'un mot de passe réinitialisé. Si vous avez perdu votre mot de passe, vous pouvez me contacter et je réinitialiserai votre mot de passe de cette manière, et vous pourrez alors vous réinscrire.
            h3 1) Les règles
            p Sur Charlinfo il y a un certain nombre de règles strictes à respecter, pour assurer le bon fonctionnement du site.
            h4 1.1) Sur les cours
            ul
                li Un fichier déposé ne doit pas excéder les 5Mo (il sera refusé par le serveur dans le cas contraire).
                li Un fichier doit avoir une utilité, et ne doit pas être hors contexte.
                li Un fichier ne doit en aucun cas comporter des images ou vidéos à caractère pornographique, sous peine de banissement immédiat
                li Un fichier doit bien être dans le cours auquel il appartient.
                li Un fichier ne doit pas contenir de propos injurieux contre quiconque.
            p Chaque infraction ci-dessus de la part d'un utilisateur sera notée
            h4 1.2) Droits généraux
            p Chaque utilisateur a le droit :
            ul
                li D'envoyer un nombre illimité de cours, tant qu'ils respectent les conditions ci-dessus
                li D'essayer de casser le site par tous les moyens et de reporter les bugs de fonctionnement s'ils sont trouvés (mais il est interdit d'exploiter ces bugs)
                li De télécharger un nombre illimité de fichiers.
            p Chaque utilisateur a aussi le droit d'utiliser le site librement, évidemment.
            br
            h3 2) Les rôles
            p Les rôles sont un aspect extrêmement important du site. En effet, ce sont eux qui vont garantir une grande cohésion et éviter les débordements. Il se comptent au nombre de 5 :
            ol
                li Visiteur
                li Contributeur
                li Modérateur
                li Développeur
                li Administrateur
            p Chacun a ses avantages et ses permissions, détaillés en dessous (sachant que chaque rôle a également les avantages des rôles hiérarchiquement inférieurs).
            h4 2.1) Visiteur
                span(style="color: rgb(47, 54, 54);")  (gris)
            h5 2.1.1) Permission
            ul
                li Libre circulation dans le site
                li Possibilité de voir les cours, d'envoyer et télécharger des fichiers
                li Possibilité de voir son propre profil détaillé
            h5 2.1.2) Comment avoir ce grade ?
            p Tout le monde est visiteur à son isncription à Charlinfo
            h4 2.2) Contributeur
                span(style="color: rgb(51, 211, 30);")  (vert)
            h5 2.2.1) Permission
            ul
                li Accès au site prioritaire lorsque celui-ci est saturé (pas encore au point)
                li Possibilité de voir le profil des autres utilisateurs
                li Accès à l'espace VIP (pas encore au point)
            h5 2.2.2) Comment avoir ce grade ?
            p Pour avoir ce grade, il faut seulement avoir publié quelques fichiers.
            h4 2.3) Modérateur
                span(style="color: rgb(52, 64, 233);")  (bleu)
            h5 2.3.1) Permission
            ul
                li Possibilité d'éditer les fichiers envoyés par d'autres utilisateurs (pas encore au point)
                li Possibilité de supprimer les fichiers envoyés par d'autres utilisateurs
                li Accès à la page qui répertorie tous les utilisateurs
                li Possibilité de bannir les utilisateurs de grade 1 ou 2
                li Possibilité de promouvoir les utilisateurs de grade 1
                li Possibilité de rétrograder les utilisateurs de grade 2
            h5 2.3.2) Comment avoir ce grade ?
            p Pour avoir ce grade, il faut avoir la confiance d'un membre de grade développeur ou plus, et avoir contribué à Charlinfo.
            h4 2.4) Développeur
                span(style="color: rgb(139, 29, 167);")  (violet)
            h5 2.4.1) Permission
            ul
                li Possibilité d'ajouter ou de supprimer des cours
                li Possibilité d'ajouter un utilisateur à la base de données
                li Possibilité de bannir les utilisateurs de grade 1 ou 2 ou 3
                li Possibilité de promouvoir les utilisateurs de grade 1 ou 2
                li Possibilité de rétrograder les utilisateurs de grade 2 ou 3
                li Accès aux fichiers du site
            h5 2.4.2) Comment avoir ce grade ?
            p Pour avoir ce grade, il faut être inscrit depuis au moins 1 mois, avoir publié beaucoup de fichiers utiles, avoir la confiance d'un membre de grade équivalent ou supérieur, et avoir contribué au développement du site.
            h4 2.5) Administrateur
                span(style="color: rgb(245, 130, 37);")  (Orange)
            h5 2.5.1) Permission
            ul
                li Possibilité de voir toutes les informations et historique d'action d'un utilisateur
                li Possibilité de bannir, rétrograder ou promouvoir n'importe qui
                li Accès au serveur et possibilité d'améliorer et modifier le site
            h5 2.5.2) Comment avoir ce grade ?
            p Ce grade est pour l'instant unique. Je réfléchis encore sur les termes pour pouvoir devenir administrateur
            h4 2.6) Précisions
            p Les conditions pour obtenir les grades sont données à titre indicatif : ces conditions sont suffisantes pour accéder au rôle associé.



















