extends includes/MENU.pug

block contenu
    h1(class="text-center mb-3") Cours
    div(class="container col-9")
        p Voici la rubrique cours !
        p Voici les formations que supprote Charlinfo pour les cours :
        .row
            each fo in (typeof(FORMATION) === "object") ? [FORMATION] : FORMATION
                .col-4.border.bg-white.p-3.rounded
                    h2
                        a(href=`/cours/${fo.id}`) #{fo.nom}
                    p Durée : #{fo.duree} semestre#{(fo.duree > 1) ? 's' : ''}
                    p= fo.description