extends includes/MENU.pug

block contenu
    .container
        .row
            .col
                h2 Voici Charlinfo, le site qui répertorie tous les cours, exos et autres DMs de la promo Informatique de 2019-2020 !
        .row
            .col
                p Vous êtes connecté en tant que 
                    +afficherGrade(USER)
                    | .
                br
        p Si vous ne connaissez pas le site, vous pouvez lire la 
            a(href="/charte") charte
            |  ici.
        button(data-toggle="collapse" data-target="#demo").bg-primary.text-white.p-1.rounded.mb-2 Dernières versions

        #demo.collapse.mb-add-button
            if (USER.grade >= 5)
                .adding-zone
                    a(class="add-icon" href="/changelog")
                        img(src="/images/add-icon.png" alt="add icon")
                    small(class="text-center mb-3") Ajouter un changelog
            if (CHANGELOG !== undefined)
                .col.mt3
                    - let vers = "impossible"
                    each element in CHANGELOG
                        .changelog.p-4.mt-3.bg-white
                            - let dat = DATE.dateDDMMYYYY(new Date(element.date))
                            h3(class="border-bottom pb-2") #{element.nom} (#{dat})
                            each el in element.liste
                                li= el.description
            else
                p Il y a eu un problème dans le chargement du changelog.

