a(class="round-card" href=`/cours/afficher/${cours.id}`)
    div(class="number-float" style=`background: ${cours.couleur}`)
        h2 #{cours.number}
    .round-card-text
        div
            h5 #{cours.nom}
            if (USER.grade >= 5)
                form(action="/cours/supprimer/"+cours.id method="post")
                    button(class="delete-button" action="submit") -
        p(class="description" style="whiteSpace: pre-line") #{cours.description}
        p(class="professor")
            b Professeur(s) : 
            - let bool = (PROFS[ind] === undefined || PROFS[ind].length === 0) ? 'aucun professeur.' : ':'
                if (PROFS[ind] !== undefined) 
                        each prof in PROFS[ind]
                            if (PROFS[ind][PROFS[ind].length - 1] !== prof)
                                span #{prof.prenom} #{prof.nom}, 
                            else
                                span #{prof.prenom} #{prof.nom}
        img(src="/images/arrow-pointing-to-right.png" alt="arrow" width="32px")