extends includes/MENU.pug

block contenu
    h1(class="border-bottom p-1 m-1" style="text-align: right;") Modules
    if (COURS !== undefined && COURS !== [])
        p(class="p-1") Voici les différents modules (cours) disponibles dans le semestre #{semestre} de la formation #{FORMATION.nom}.
        if (COURS.length === undefined)
            - COURS = [COURS]
        - let GENERALE = COURS.filter(data => data.type === 'Générale');
        - let INFORMATIQUE = COURS.filter(data => data.type === 'Informatique');
        .container.respmod
                .module-container
                    h3(class="mb-3 font-weight-bold") UE Générale
                    if (GENERALE.length !== 0)
                        each cours, ind in GENERALE
                            include modulesBox.pug
                    else
                        h4(class="m-5") Aucun cours en UE Générale
                .module-container
                    h3(class="mb-3 font-weight-bold") UE Informatique
                    if (INFORMATIQUE.length !== 0)
                        each cours, ind in INFORMATIQUE
                            include modulesBox.pug
                    else
                        h4(class="m-5") Aucun cours en UE Informatique
    else
        p Le cours ou le semestre spécifié n'existe pas, ou ne contient pour l'instant aucun cours.