html{
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.corps{
    display: inline-block;
    width: 100%;
    padding: 0.5em;
    padding-bottom: 50em;
    min-height: 80em;
    align-items: start;
}

.mid{
    display: flex;
    width: 100%;
    justify-content: center;
}

.justif{
    text-align: justify;
}

h1{
    text-align: right;
    border-bottom: 1px solid black;
}

.ajoutPlus{
    width: 3em;
    height: 3em;
}

.ajoutPlus:hover{
    background-color: #AAA;
    border-radius: 3em;
    border: 2px solid black;
}

.inscrip, .connex, .envoi, .card{
    vertical-align: center;
    display: inline-block;
    margin: 5em;
    background-color: rgb(255, 255, 255);
    border: 3px dashed black;
    border-radius: 5px;
    padding: 0 4% 0 4%;
    width: inherit;
    box-shadow: 1em 1em 1em grey;
}

.card{
    vertical-align: center;
    display: inline-block;
    margin: 2em;
    background-color: rgb(255, 255, 255);
    border: 3px dashed black;
    border-radius: 5px;
    padding: 0 1% 0 1%;
    width: inherit;
    box-shadow: 1em 1em 1em grey;
    width: 30em;
}

.card h2 {
    text-align: center;
    border-bottom: 1px solid black;
}

label{
    display: block;
}

input, select, textarea{
    margin-bottom: 1.2em;
}

.box{
    margin: auto;
    border: 1px solid black;
    display: flex;
    width: 75%;
}

.boxLeft{
    display: flex;
    width: 30%;
    padding: 0.5em;
}

.boxRight{
    border-left: 1px dashed black;
    display: inline-block;
    padding-left: 0.5em;
    overflow: auto;
    max-height: inherit;
}

span.visiteur{
    color: rgb(47, 54, 54);
}

span.contributeur{
    color: rgb(51, 211, 30);
}

span.moderateur{
    color: rgb(52, 64, 233);
}

span.developpeur{
    color: rgb(139, 29, 167);
}

span.administrateur{
    color: rgb(245, 130, 37)
}

.users{
    padding: 0.5em;
    border: 2px dashed black;
    display: inline-block;
    width: 50%;
    margin: 0.2em;
}

.charte{
    width: 90%;
    display: inline-block;
    border: 3px solid black;
    border-radius: 0.5em;
    box-shadow: 1em 1em 1em grey;
    padding: 1em;
}

.versionDiv{
    margin-left: 1em;
}

.admin{
    padding: 0.1em;
    background-color: rgba(22, 157, 161, 0.301);
    border: 1px dashed black;
}

.admin:hover{
    background-color: rgba(22, 156, 161, 0.479);
}