body {
    background: #eef1f7;
}

.changelog {
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}

.adding-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.round-card {
    display: flex;
    background: #fff;
    border-radius: 2.5em;
    box-shadow: 0px 10px 30px -10px rgba(151, 163, 184, 0.5);
    min-height: 18rem;
    margin: 4rem 0;
    color: black!important;
    text-decoration: none!important;
    transition: box-shadow 0.5s ease-in, transform 1s ease;
}

.round-card img {
    margin-left: calc(100% - 50px);
    transition: all 0.7s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.round-card:hover img {
    transform: rotate(360deg);
}

.round-card:hover {
    box-shadow: 0px 10px 0px -10px rgba(151, 163, 184, 0.5), 0px 20px 10px -20px rgba(151, 163, 184, 0.5), 0px 30px 20px -25px rgba(151, 163, 184, 0.5), 0px 40px 30px -30px rgba(151, 163, 184, 0.5), 0px 50px 50px -35px rgba(151, 163, 184, 0.5) !important;
    transform: translate(0, -5px);
}

.number-float {
    width: 80px;
    height: 80px;
    border-radius: 1em;
    box-shadow: 0px 10px 30px -10px rgba(151, 163, 184, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -15px 0 0 -15px;
}

.number-float h2 {
    color: #fff;
    margin: 0;
}

.round-card-text {
    display: flex;
    flex-direction: column;
    width: calc(100% - 65px);
    margin: 15px;
}

.round-card-text h5 {
    margin: 0;
    width: calc(100% - 52px);
}

.round-card-text .description {
    margin: 20px 0 auto -45px;
}

.round-card-text div {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 20px 0;
}

.round-card-text .delete-button {
    background-color: #F44336;
    color: #fff;
    height: 32px;
    width: 32px;
    border-radius: 5em;
    border-style: none;
    margin: 0 10px;
    transition: all 0.7s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.round-card-text .delete-button:hover {
    transform: rotate(360deg);
}

.professor {
    margin-left: -45px;
    margin-top: 15px;
}

.professor b {
    margin-bottom: 50px;
}

.card-design {
    display: flex;
    color: #fff;
    justify-content: space-between;
    border-radius: 1rem;
    min-height: 260px;
    overflow: hidden;
    box-shadow: 0px 10px 30px -10px rgba(151, 163, 184, 0.5);
}

.card-design a {
    text-decoration: none!important;
}

.card-design>div {
    display: flex;
    flex-direction: column;
    padding: 15px 25px;
    min-height: 260px;
}

.card-design .description {
    margin: 20px 0 auto 0;
}

.card-design .creator {
    margin: 16px 0;
}

.card-design .description {
    margin: 20px 0 auto 0;
}

.card-design .creator {
    margin: 16px 0;
}

.download_button {
    display: flex;
    height: 40px;
}

.download_button p {
    background-color: #fff;
    display: flex;
    align-items: center;
    font-size: 12px;
    height: 40px;
    color: black;
    border-bottom-left-radius: 0.35rem;
    border-top-left-radius: 0.35rem;
    width: 83.5px;
    padding: 15px;
    overflow: hidden;
}

.download_button .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 0.35rem;
    width: 40px;
    height: 40px;
    filter: brightness(0.9);
    transition: all 0.7s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.7s;
}

.download_button img {
    transform: rotate(90deg);
    transition: all 0.7s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    width: 16px;
}

.download_button:hover img {
    transform: rotate(0);
}

.remove-bar {
    background-color: #F44336;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.remove-bar img {
    filter: invert(1);
}

.profil-icon {
    width: 40px;
}

.responsive-ul button:first-child {
    border-radius: 1rem 1rem 0 0;
}

.responsive-ul a:last-child {
    border-radius: 0 0 1rem 1rem;
}

.user-button {
    border-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-button:focus {
    outline: none;
}

.arrow {
    width: 20px;
}

#upload, #logs {
    background: #fff;
    padding: 2rem;
    padding-top: 0;
    text-align: left;
}

#upload p, #logs p {
    margin: 0;
}

/*Ordinateur*/

@media (min-width: 993px) {
    .add-icon img {
        transition: all 0.5s ease;
    }
    .add-icon img:hover {
        transform: rotate(90deg);
    }
    .add-icon img {
        width: 40px;
    }
    .respmod {
        display: flex;
        justify-content: center;
    }
    .module-container {
        width: 50%;
        margin: 2% 5% 0 0;
    }
    .module-container+.module-container {
        margin: 2% 0 0 5%;
    }
    .card-design {
        flex-direction: column;
    }
    .card-design:hover .download_button .icon {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        transition: all 0.7s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    }
    .download_button {
        justify-content: center;
    }
    .download_button p {
        padding: 0;
        width: 0;
        opacity: 0;
        transition: width 1s, padding 0.8s, opacity 0s ease 0.8s;
    }
    .remove-bar {
        width: 100%;
        height: 40px;
    }
    .card-design:hover .download_button p {
        opacity: 1;
        width: 83.5px;
        padding: 15px;
        transition: width 1s, padding 0.5s, opacity 0s ease;
    }
    .card-design:hover .download_button .icon {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        transition: all 0.7s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    }
    .displayClass {
        display: flex;
    }
    .displayClass>div {
        width: 100%;
        margin: 1rem;
    }
    .connexion-box {
        display: flex;
        align-items: flex-start;
    }
    .connexion-component {
        margin: 3rem;
    }
    .responsive-svg {
        display: none;
    }
    .responsive-ul {
        margin: 3rem 10rem;
    }
    .arrow {
        transition: all 0.5s cubic-bezier(1, -0.5, .01, 1.5);
    }
}

/*Portable*/

@media (max-width: 992px) {
    .add-icon img {
        width: 52px;
    }
    .adding-zone {
        background-color: #f5f7fb;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        padding: 5px;
        border-radius: 2.5rem 2.5rem 0 0;
        z-index: 100;
        box-shadow: 0px 10px 30px 10px rgba(151, 163, 184, 0.5);
        transition: transform 0.5s cubic-bezier(1, 0, 0, 1);
    }
    .adding-zone small {
        margin: 0!important;
    }
    .module-container {
        flex-direction: column;
    }
    .round-card {
        width: 100%;
        margin-left: 0;
    }
    .download_button .icon {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .remove-bar {
        padding: 15px;
    }
    .displayClass {
        padding: 0;
    }
    .mb-add-button {
        margin-bottom: calc(81px + 1.5rem);
    }
    .connexion-component {
        margin: 2rem 0;
    }
    .responsive-ul {
        margin: -2rem 1rem;
    }
    .responsive-title {
        display: none;
    }
}

.connexion-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.connexion-component input {
    outline: none;
    border: 0;
    border-bottom: 1px solid #dee2e6;
    margin: 1rem;
}

@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}

.rainbow {
    position: relative;
    z-index: 0;
    border-radius: 10px;
    overflow: hidden;
}

.rainbow::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -100%;
    top: -50%;
    width: 300%;
    height: 200%;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
    animation: rotate 4s linear infinite;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.rainbow:hover::before {
    opacity: 1;
}

.rainbow::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: white;
    border-radius: 5px;
}